body {
    margin: 0;
}

h3 {
    margin-bottom: 1.168rem !important;
}

h5 {
    margin-bottom: 0.656rem !important;
}

.capitalize {
    text-transform: capitalize;
}

p {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    margin-top: 0;
    line-height: 1.5;
}
