@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.spinner-container {
    text-align: center;
}

.spin {
    display: inline-block;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: solid 5px #cfd0d1;
    border-bottom-color: #3f51b5;
    animation: 1.5s linear infinite spinner;
}
